body{
    background-color: #e8c9a7;
    font-family: cursive;

}

.noa-box{
    background-color: #cedef0;
    border-radius: 30px;
    padding:13px;
}

img{
    width: 200px;
}

.search{
    float: right;
}